@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic");
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #57AF05;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ff0000;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  background-image: url(http://basehold.it/i/22); }

body {
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif; }

h1 {
  font-size: 68px;
  line-height: 88px;
  margin-top: 44px;
  margin-bottom: 22px; }

h2 {
  font-size: 26px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px; }
  @media (min-width: 37.5em) {
    h2 {
      font-size: 42px;
      line-height: 44px;
      margin-top: 44px;
      margin-bottom: 22px; } }

h3 {
  font-size: 26px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-weight: 400; }

h4 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 22px; }

p, ul, ol, pre, table, blockquote {
  margin-top: 22px;
  margin-bottom: 22px; }

.button {
  font-size: 21px;
  line-height: 44px;
  border: 4px solid #1a3401;
  padding: 7px 20px;
  color: #1a3401;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -14px; }

.price {
  font-size: 26px;
  line-height: 44px;
  margin: 0;
  color: #1a3401;
  font-weight: 600; }

div.tickets {
  text-align: center; }

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: 1; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

.logoReplace a {
  display: inline-block;
  width: 44px;
  height: 46px;
  background-size: cover;
  background-image: url("../images/logo.png");
  text-indent: -9999px;
  margin: 0 auto;
  float: left;
  padding-bottom: 11px; }

h1.logoReplace {
  margin: 11px; }

h2, h3 {
  color: #3d7a04;
  text-align: center; }
  @media (min-width: 37.5em) {
    h2, h3 {
      text-align: left; } }

.hide {
  display: none; }

.intro {
  font-weight: 600; }

img {
  max-width: 100%; }

.wrapper {
  width: 96%;
  margin: 0 auto; }

section {
  padding-top: 44px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  /*a[href]:after {
      content: " (" attr(href) ")";
  }  this prints the href after each link on the page. */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
header {
  background-image: url("../images/grok2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center; }
  header .overlay {
    background-color: rgba(158, 177, 140, 0.75);
    padding-bottom: 22px; }
  header nav {
    background-color: rgba(158, 177, 140, 0.9);
    position: fixed;
    width: 100%;
    padding-bottom: 11px; }
  header a.navButton {
    font-size: 21px;
    padding: 5px 40px;
    border: 3px solid #1a3401;
    float: right;
    margin-right: 2%;
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: 600; }
  header ul {
    display: none;
    float: right;
    clear: right;
    margin-right: 10px;
    list-style: none;
    margin-top: 12px;
    text-align: left; }
    header ul a {
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      padding-right: 8px;
      line-height: 33px;
      color: #222222; }
  header img {
    padding-top: 110px;
    padding-bottom: 12px; }
  header p {
    font-size: 26px;
    line-height: 44px;
    margin: 0 auto;
    color: #1a3401; }
    header p.dateBig {
      font-weight: 700;
      color: #222222;
      clear: both; }
  header p.tagline {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 22px;
    width: 96%; }
  header .button {
    background-color: #d2d9c9; }

div.video {
  background-color: #9eb18c;
  height: 176px;
  width: 288px;
  display: inline-block;
  text-align: center; }

.quote, .quoteGreen {
  font-weight: 300;
  font-style: italic;
  color: #3d7a04;
  border: 2px solid #1a3401;
  padding: 9px 10px;
  margin-top: 33px;
  margin-bottom: 11px; }

.attribution {
  font-weight: 200;
  font-size: italic;
  color: #3d7a04;
  margin-top: 11px;
  margin-bottom: 22px; }

.quoteGreen {
  background-color: #9eb18c;
  color: #1a3401; }

.whoAttends .image {
  background-image: url(../images/grok.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  background-position: right;
  height: 176px;
  width: 25%;
  float: right;
  margin-left: 3%;
  margin-top: 29px;
  margin-right: 2px; }
  @media (min-width: 26em) {
    .whoAttends .image {
      height: 132px; } }
  @media (min-width: 32.68em) {
    .whoAttends .image {
      height: 121px; } }

/*# sourceMappingURL=style.css.map */
