@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic");
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #57AF05;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ff0000;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*html { background-image: url(http://basehold.it/i/22);
}*/
body {
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif; }

h1 {
  font-size: 68px;
  line-height: 88px;
  margin-top: 44px;
  margin-bottom: 22px; }

h2 {
  font-size: 26px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px; }
  @media (min-width: 40.625em) {
    h2 {
      font-size: 42px;
      line-height: 44px;
      margin-top: 44px;
      margin-bottom: 22px; } }

h3 {
  font-size: 26px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-weight: 400; }

h4 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 22px; }

p, ul, ol, pre, table, blockquote {
  margin-top: 22px;
  margin-bottom: 22px; }

.button {
  font-size: 21px;
  line-height: 44px;
  border: 4px solid #1a3401;
  padding: 7px 20px;
  color: #1a3401;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -14px;
  transition: all .3s ease; }
  @media (min-width: 1025px) {
    .button:hover {
      color: #f8f7f4;
      background-color: #1a3401; } }

.price {
  font-size: 26px;
  line-height: 44px;
  margin: 0;
  color: #1a3401;
  font-weight: 600; }

div.tickets {
  text-align: center; }
  @media (min-width: 40.625em) {
    div.tickets {
      margin-bottom: -2px;
      text-align: left; }
      div.tickets p {
        width: 150px;
        display: inline-block;
        text-align: left; } }

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: 1; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

.logoReplace a {
  display: inline-block;
  width: 44px;
  height: 46px;
  background-size: cover;
  background-image: url("../images/logo.png");
  text-indent: -9999px;
  margin: 0 auto;
  float: left;
  padding-bottom: 11px; }

h1.logoReplace {
  margin: 11px 0; }

h2, h3 {
  color: #3d7a04;
  text-align: center; }
  @media (min-width: 40.625em) {
    h2, h3 {
      text-align: left; } }

.hide {
  display: none; }

.intro {
  font-weight: 600; }

img {
  max-width: 100%; }

.wrapper {
  width: 96%;
  margin: 0 auto; }
  @media (min-width: 40.625em) {
    .wrapper {
      width: 94%;
      max-width: 1000px; } }

section {
  padding-top: 44px; }
  @media (min-width: 40.625em) {
    section {
      padding-top: 0; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  /*a[href]:after {
      content: " (" attr(href) ")";
  }  this prints the href after each link on the page. */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
header {
  background-image: url("../images/grokHead.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 1400px;
  margin: auto; }
  @media (min-width: 40.625em) {
    header {
      text-align: left; } }
  header .overlay {
    background-color: rgba(158, 177, 140, 0.35);
    padding-bottom: 22px; }
  header nav {
    background-color: rgba(158, 177, 140, 0.95);
    position: fixed;
    z-index: 3;
    width: 100%;
    padding-bottom: 11px; }
  header a.navButton {
    font-size: 21px;
    padding: 5px 40px;
    border: 3px solid #1a3401;
    float: right;
    margin-right: 0;
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: 600; }
    @media (min-width: 40.625em) {
      header a.navButton {
        display: none !important; } }
  header ul {
    float: right;
    clear: right;
    margin-right: 10px;
    list-style: none;
    margin-top: 12px;
    text-align: left;
    margin-bottom: 0px; }
    @media (min-width: 40.625em) {
      header ul {
        display: block !important;
        margin: 6px 0 0 0; } }
    header ul a {
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      padding-right: 8px;
      line-height: 33px;
      color: #222222; }
      @media (min-width: 40.625em) {
        header ul a {
          padding: 10px; } }
    @media (min-width: 40.625em) {
      header ul li {
        display: inline-block;
        padding: 0; } }
  header img {
    padding-top: 110px;
    padding-bottom: 12px; }
  header p {
    font-size: 26px;
    line-height: 44px;
    margin: 0 auto;
    color: #1a3401; }
    header p.dateBig {
      font-weight: 700;
      color: #222222;
      clear: both; }
  header p.tagline {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 22px;
    width: 96%; }
    @media (min-width: 40.625em) {
      header p.tagline {
        width: 50%;
        margin-left: 0; } }
  @media (min-width: 40.625em) {
    header div.tickets {
      text-align: right; } }
  header .button {
    background-color: #d2d9c9; }
    @media (min-width: 40.625em) {
      header .button {
        text-align: center; } }
  @media (min-width: 40.625em) {
    header .price {
      text-align: center; } }

section.about {
  position: relative;
  z-index: -1;
  margin-top: -50px;
  padding-top: 50px; }
  section.about h3 {
    margin-top: 33px; }
    @media (min-width: 40.625em) {
      section.about h3 {
        margin-top: 0px;
        margin-bottom: 0; } }
    @media (min-width: 912px) {
      section.about h3 {
        margin-top: -39px; } }

div.video {
  text-align: center;
  margin-top: 44px;
  vertical-align: top; }
  @media (min-width: 40.625em) {
    div.video {
      width: 46%;
      margin-top: 28px;
      display: inline-block; } }

@media (min-width: 40.625em) {
  .summary {
    width: 46%;
    margin-left: 0;
    margin-right: 4%;
    display: inline-block; } }

@media (min-width: 40.625em) {
  p.about, p.aboutFirst {
    width: 46%;
    display: inline-block; } }

@media (min-width: 40.625em) {
  p.aboutFirst {
    margin-right: 4%; } }

.quote, .quoteGreen {
  font-weight: 300;
  font-style: italic;
  color: #3d7a04;
  border: 2px solid #1a3401;
  padding: 9px 10px;
  margin-top: 33px;
  margin-bottom: 11px; }

.attribution, .attribution2 {
  font-weight: 200;
  font-size: italic;
  color: #3d7a04;
  margin-top: 11px;
  margin-bottom: 22px; }

.quoteGreen {
  background-color: #9eb18c;
  color: #1a3401; }

.whoAttends .image {
  background-image: url(../images/grok.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  background-position: right;
  height: 176px;
  width: 25%;
  float: right;
  margin-left: 3%;
  margin-top: 29px;
  margin-right: 2px; }
  @media (min-width: 26em) {
    .whoAttends .image {
      height: 132px; } }
  @media (min-width: 32.68em) {
    .whoAttends .image {
      height: 121px; } }
  @media (min-width: 600px) {
    .whoAttends .image {
      height: 99px; } }
  @media (min-width: 40.625em) {
    .whoAttends .image {
      width: 48%;
      height: 154px;
      margin-top: -66px; } }
  @media (min-width: 825px) {
    .whoAttends .image {
      margin-top: -22px; } }

@media (min-width: 40.625em) {
  .whoIntro {
    width: 48%;
    float: left;
    margin-right: 4%; } }

@media (min-width: 40.625em) {
  .wholeQuote {
    display: inline-block;
    width: 46%; } }

@media (min-width: 40.625em) {
  .lastQuote {
    float: right;
    margin-top: -198px; } }
@media (min-width: 825px) {
  .lastQuote {
    margin-top: -110px; } }

.whoAttends {
  position: relative;
  z-index: -1;
  margin-top: -50px;
  padding-top: 50px; }
  @media (min-width: 40.625em) {
    .whoAttends .tickets {
      clear: both;
      margin: 0;
      padding-top: 20px; } }
  @media (min-width: 825px) {
    .whoAttends .tickets {
      clear: none;
      margin-top: 42px;
      padding-top: 0; } }

.speakers > p {
  margin-bottom: 88px; }
  @media (min-width: 40.625em) {
    .speakers > p {
      width: 50%;
      margin-bottom: 0; } }

.speakers {
  z-index: -1;
  margin-top: -50px;
  padding-top: 50px; }
  @media (min-width: 40.625em) {
    .speakers h2 {
      margin-top: 66px; } }

.speaker {
  text-align: center;
  background-color: #89b064;
  position: relative;
  padding-top: 121px;
  margin-top: 110px;
  padding-bottom: 22px; }
  @media (min-width: 40.625em) {
    .speaker {
      width: 45%;
      display: inline-block;
      margin-right: 2%;
      margin-left: 2%;
      vertical-align: top; } }
  .speaker h3 {
    margin-bottom: -22px;
    color: #1a3401;
    margin-top: 11px; }
    @media (min-width: 40.625em) {
      .speaker h3 {
        text-align: center; } }
  .speaker p.twitter {
    margin-top: -22px; }
  .speaker img {
    max-width: 176px;
    position: absolute;
    top: -44px;
    left: 50%;
    margin-left: -88px; }
  .speaker p.biography {
    text-align: left;
    width: 96%;
    margin: auto; }
    @media (min-width: 40.625em) {
      .speaker p.biography {
        width: 90%; } }

.schedule {
  position: relative;
  z-index: -1;
  margin-top: -50px;
  padding-top: 50px; }

@media (min-width: 40.625em) {
  .schedule > p {
    width: 47%;
    margin-right: 2%;
    display: inline-block; } }

.scheduleDay h3 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 0; }

@media (min-width: 40.625em) {
  .scheduleDay {
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top; } }

@media (min-width: 40.625em) {
  .firstDay {
    margin-top: -44px;
    margin-bottom: 88px; } }
@media (min-width: 807px) {
  .firstDay {
    margin-bottom: 66px; } }

.schedItem {
  border: 2px solid #3d7a04;
  margin-bottom: 20px;
  padding-left: 2%; }
  .schedItem .time {
    margin-top: -2px;
    text-align: center;
    font-weight: 900;
    color: #222222;
    margin-bottom: 0;
    margin-left: -2%; }
  .schedItem .title {
    font-weight: 900;
    color: #3d7a04;
    margin-top: 0;
    margin-bottom: 0; }
  .schedItem .eventBlurb {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0; }

.TIY, .carlSmith, .tenTwenty, .aaronDraplin, .moldover, .paulRoof, .demoDay {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat; }

.TIY {
  background-image: url(../images/tiy-logo.png); }

.carlSmith {
  background-image: url(../images/carlSmith.jpg); }

.tenTwenty {
  background-image: url(../images/grok.jpg); }

.aaronDraplin {
  background-image: url(../images/aaronDraplin.jpg); }

.moldover {
  background-image: url(../images/moldover.jpg); }

.paulRoof {
  background-image: url(../images/paulRoof.jpg); }

.demoDay {
  background-image: url(../images/grok2.jpg); }

.lunch {
  background-image: url(../images/food.jpg);
  background-size: cover; }

.meetup {
  background-image: url(../images/meetup.jpg);
  background-size: cover; }

.socialSignUp h3 {
  font-weight: 700; }
.socialSignUp p {
  text-align: center; }
@media (min-width: 40.625em) {
  .socialSignUp {
    width: 47%;
    position: absolute;
    bottom: 594px; } }
@media (min-width: 673px) {
  .socialSignUp {
    bottom: 616px; } }

a.facebook, a.twitter {
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/socialSprite.png) no-repeat;
  width: 40px;
  height: 40px;
  transition: all 0s; }

a.facebook {
  background-position: -40px 0;
  margin-left: 16px;
  margin-right: -5px; }
  @media (min-width: 40.625em) {
    a.facebook:hover {
      background-position: -40px -40px; } }

@media (min-width: 40.625em) {
  a.twitter:hover {
    background-position: 0 -40px; } }

.email {
  background-color: #9eb18c;
  padding: 11px 4%;
  text-align: center; }
  .email input {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 11px 0;
    text-align: center; }
  .email input[type=submit] {
    font-size: 16px;
    padding: 11px 0;
    color: #1a3401;
    border-radius: 0;
    border-color: #1a3401;
    background-color: transparent;
    font-weight: 900; }
  .email input[placeholder] {
    font-size: 20px;
    font-weight: 200;
    color: #444;
    background-color: #f8f7f4;
    border: 2px solid #1a3401;
    padding: 7px 0; }

.sponsors {
  position: relative;
  margin-bottom: 88px;
  z-index: -1;
  margin-top: -50px;
  padding-top: 50px; }
  .sponsors p {
    color: #3d7a04; }
    @media (min-width: 40.625em) {
      .sponsors p {
        width: 50%;
        margin-left: 0; } }
  .sponsors .imgM {
    max-width: 43%;
    display: inline-block;
    margin: 22px 3%; }
    @media (min-width: 40.625em) {
      .sponsors .imgM {
        width: 26%; } }
  .sponsors .imgL {
    margin-bottom: 22px;
    display: inline-block;
    text-align: center;
    width: 100%; }
    @media (min-width: 40.625em) {
      .sponsors .imgL {
        width: 43%;
        margin: 22px 3%; } }
  .sponsors .imgLast {
    margin-top: 33px; }
    @media (min-width: 40.625em) {
      .sponsors .imgLast {
        margin-top: 0; } }
  .sponsors h3 {
    font-weight: 700;
    margin-bottom: 33px; }
    @media (min-width: 40.625em) {
      .sponsors h3 {
        margin-bottom: 11px;
        margin-top: 33px; } }

.lastCall {
  background-image: url(../images/grok3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 11px;
  padding-bottom: 80px;
  height: 595px;
  text-align: center;
  margin-bottom: 110px; }
  .lastCall p.location {
    margin-top: 0px;
    font-size: 26px;
    font-weight: 700; }
  .lastCall .dropOff {
    width: 160px;
    position: absolute;
    bottom: 138px;
    left: 50%;
    margin-left: -210px; }
  .lastCall .human {
    width: 7%;
    margin-left: 30%;
    margin-top: -60px; }
  .lastCall .tickets {
    position: absolute;
    bottom: -88px;
    width: 220px;
    left: 50%;
    margin-left: -110px; }
    @media (min-width: 40.625em) {
      .lastCall .tickets {
        bottom: -55px;
        width: 366px;
        margin-left: -183px; } }

footer {
  background-color: #9eb18c;
  text-align: center;
  max-width: 1400px; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer li {
    display: inline-block;
    font-size: 12px; }
  footer a {
    padding: 11px 10px;
    display: inline-block;
    line-height: 0px; }
  footer li:first-child {
    padding-top: 10px; }
  footer li:last-child {
    padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
