section.about {
	position: relative;
	z-index: -1;
	margin-top: -50px;
	padding-top: 50px;

	h3{
		@include bp($small){
			margin-top: 44px;
			margin-bottom: 0;
		}
	}
}

div.video {
	text-align: center;
	margin-top: 44px;
	@include bp($small){
		width: 46%;
		margin-top: 0;
		position: absolute;
		right: 0;
		top: 168px;
	}
}

.summary {
	@include bp($small){
		width: 46%;
		margin-left: 0;
	}
}

p.about{
	@include bp($small){
		width: 46%;
		display: inline-block;
	}
}
p.aboutFirst{
	@extend p.about;
	
	@include bp($small){
		margin-right: 4%;
	}

}
