section.about {
	position: relative;


	h3{
		@include bp($small){
			margin-top: 44px;
			margin-bottom: 0;
		}
	}
}

div.video {
	background-color: $lgreen;
	height: 176px;
	width: 288px;
	display: inline-block;
	text-align: center;

	@include bp($small){
		width: 46%;
		position: absolute;
		right: 0;
		top: 88px;
	}
}

.summary {
	@include bp($small){
		width: 46%;
		margin-left: 0;
	}
}

p.about{
	@include bp($small){
		width: 46%;
		display: inline-block;
	}
}
p.aboutFirst{
	@extend p.about;
	
	@include bp($small){
		margin-right: 4%;
	}

}
