/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*, *:before, *:after{
    box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #57AF05;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ff0000;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

// These are for my typography grid...

/*html { background-image: url(http://basehold.it/i/22);
}*/
body {
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  //background-color: $tan;
}
h1 {
  font-size: 68px;
  line-height: 88px;
  margin-top: 44px;
  margin-bottom: 22px;
}
h2 {
    font-size: 26px;
    line-height: 44px;
    margin-top: 22px;
    margin-bottom: 22px;
  
    @include bp($small){
        font-size: 42px;
        line-height: 44px;
        margin-top: 44px;
        margin-bottom: 22px;
      }
}
h3 {
  font-size: 26px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 22px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 22px;
  margin-bottom: 22px;
}
.button {
    font-size: 21px;
    line-height: 44px;
    border: 4px solid $dgreen;
    padding: 7px 20px;
    color: $dgreen;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -14px;
    transition: all .3s ease;

    @include bp(1025px){
        &:hover{
            color: $tan;
            background-color: $dgreen;
        }
    }
 }

.price {
    font-size: 26px;
    line-height: 44px;
    margin:0;
    color: $dgreen;
    font-weight: 600;

}
div.tickets {
    text-align: center;

    @include bp($small){
        margin-bottom: -2px;
        text-align: left;
        p{
            width: 150px;
            display: inline-block;
            text-align: left;
        }
    }
}
/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


.logoReplace a {
    display: inline-block;
    width: 44px;
    height: 46px;
    background-size: cover;
    background-image: url("../images/logo.png");
    text-indent: -9999px;
    margin: 0 auto;
    float: left;
    padding-bottom: 11px;

}
h1.logoReplace {
    margin: 11px 0;
}
h2, h3 {
    color: $bgreen;
    text-align: center;

    @include bp($small){
        text-align: left;
    }
}
.hide {
    display: none;
}
.intro {
    font-weight: 600;
}

img {
    max-width: 100%;
}
.wrapper {
    width: 96%;
    margin: 0 auto;

    @include bp($small){
        width: 94%;
        max-width: 1000px;
    }
}
section {
    padding-top: 44px;

    @include bp($small){
        padding-top: 0;
    }
}
a img {
    border: 0px;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    /*a[href]:after {
        content: " (" attr(href) ")";
    }  this prints the href after each link on the page. */

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
