header {
	background-image: url("../images/grok2.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;

	@include bp($small){
		text-align: left;
	}


	.overlay{
		background-color: rgba(158,177,140,.75);
		padding-bottom: 22px;
	}
	nav {
		background-color: rgba(158,177,140, .95);
		position: fixed;
		z-index: 3;
		width: 100%;
		padding-bottom: 11px;
	}
	a.navButton{
		font-size: 21px;
		padding: 5px 40px;
		border: 3px solid $dgreen;
		float: right;
		margin-right: 2%;
		margin-top: 3px;
		text-transform: uppercase;
		font-weight: 600;

		@include bp($small){
			display: none !important;
		}
	}
	ul {

		display: none; //remove this once .js is hooked up

		float: right;
		clear: right;
		margin-right: 10px;	
		list-style: none;
		margin-top: 12px;
		text-align: left;
		
		@include bp($small){
			display: block !important;
			margin: 6px 2% 0 0;
		}
		a{
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			padding-right: 8px;
			line-height: 33px;
			color: $black;

			@include bp($small){
				padding:10px;
			}
		}
		li {
			@include bp($small){
				display: inline-block;
				padding: 0;
			}
		}
	}

	img{
		padding-top: 22px * 5;
		padding-bottom: 12px;

		@include bp($small){
			margin-left: 2%;
			padding-bottom: 10px;
		}
	}
	p{
		font-size: 26px;
		line-height: 44px;
		margin:0 auto;
		color: $dgreen;
		@include bp($small){
			margin-left: 2%;
		}
		

		&.dateBig{
			font-weight: 700;
			color: $black;
			clear: both;
		}
	}
	p.tagline{
		font-weight: 300;
		font-style: italic;
		margin-bottom: 22px;
		width: 96%;

		@include bp($small){
			width: 50%;
		}

	}
	
	div.tickets{
		@include bp($small){
			text-align: right;
		}
	}

	.button{
		background-color: $buttonGreen;
		@include bp($small){
			text-align: center;
		}
	}
	.price {
		@include bp($small){
			text-align: center;
		}
	}
}