.scheduleDay h3 {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 0;
}
.schedItem {
	border: 2px solid $bgreen;
	margin-bottom: 20px;
	padding-left: 2%;


	.time {
		margin-top: -2px;
		text-align: center;
		font-weight: 900;
		color: $black;
		margin-bottom: 0;
		margin-left: -2%;
	}
	.title {
		font-weight: 900;
		color: $bgreen;
		margin-top: 0;
		margin-bottom: 0;
	}
	.eventBlurb {
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 0;
	}
	
}
%schedImage{
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
}
.TIY {
	@extend %schedImage;
	background-image: url(../images/tiy-logo.png);
}
.carlSmith {
	@extend %schedImage;
	background-image: url(../images/carlSmith.jpg);
}
.tenTwenty {
	@extend %schedImage;
	background-image: url(../images/grok.jpg);
}
.aaronDraplin {
	@extend %schedImage;
	background-image: url(../images/aaronDraplin.jpg);
}
.moldover {
	@extend %schedImage;
	background-image: url(../images/moldover.jpg);
}
.paulRoof {
	@extend %schedImage;
	background-image: url(../images/paulRoof.jpg);
}
.demoDay {
	@extend %schedImage;
	background-image: url(../images/grok2.jpg);
}
.lunch {
	background-image: url(../images/food.jpg);
	background-size: cover;
}
.meetup {
	background-image: url(../images/meetup.jpg);
	background-size: cover;
}
.socialSignUp {
	h3 {
		font-weight: 700;
	}
	p {
		text-align: center;
	}
}
%social {
    display: inline-block;
    text-indent: -9999px;
    background: url(../images/socialSprite.png) no-repeat;
    width: 40px;
    height: 40px;
    transition: all 0s;
    
}
a.facebook{
    @extend %social;
    background-position: -40px 0;
    margin-left: 16px;
    margin-right: -5px;
    @include bp($med){
        &:hover{
            background-position: -40px -40px;
        }
    }
}
a.twitter{
    @extend %social;
    @include bp($med){
        &:hover{
            background-position: 0 -40px;
        }
    }
}

.email {
	background-color: $lgreen;
	padding: 11px 4%;
	text-align: center;
	input {
		display: block;
		width: 100%;
		max-width: 450px;
		margin: 11px 0;
		text-align: center;
	}
	input[type=submit]{
		font-size: 16px;
		padding: 11px 0;
		color: $dgreen;
		border-radius: 0;
		border-color: $dgreen;
		background-color: transparent;
		font-weight: 900;
	}
	input[placeholder] {
		font-size: 20px;
		font-weight: 200;
		color: #444;
		background-color: $tan;
		border: 2px solid $dgreen;
		padding: 7px 0;
	}

}