.speakers>p {
	margin-bottom: 88px;

	@include bp($small){
		width: 50%;
		margin-bottom: 0;
	}
}
.speakers{
	z-index: -10;
	margin-top: -50px;
	padding-top: 50px;
	h2 {
		@include bp($small){
			margin-top: 66px;
		}
	}
}


.speaker {
	text-align: center;
	background-color: $mgreen;
	position: relative;
	padding-top: 121px;
	margin-top: 110px;
	padding-bottom: 22px;

	@include bp($small){
		width: 45%;
		display: inline-block;
		margin-right: 2%;
		margin-left: 2%;
		vertical-align: top;
	}



	h3{
		margin-bottom: -22px;
		color: $dgreen;
		margin-top: 11px;

		@include bp($small){
			text-align: center;
		}
	}
	p.twitter {
		margin-top: -22px;
	}
	img {
		max-width: 176px;
		position: absolute;
		top: -44px;
		left: 50%;
		margin-left: -88px;
	}
	p.biography {
		text-align: left;
		width: 96%;
		margin: auto;

		@include bp($small){
			width: 90%;
		}
	}
}