.sponsors {
	position: relative;
	margin-bottom: 88px;

	margin-top: -50px;
	padding-top: 50px;
	p {
		color: $bgreen;
		@include bp($small){
			width: 50%;
			margin-left: 0;
		}
	}
	.imgM {
		max-width: 43%;
		display: inline-block;
		margin: 22px 3%;

		@include bp($small){
			width: 26%;
		}
	}
	.imgL {
		margin-bottom: 22px;
		display: inline-block;
		text-align: center;
		width: 100%;

		@include bp($small){
			width: 43%;
			margin: 22px 3%;
		}
	}
	.imgLast {
		margin-top: 33px;

		@include bp($small){
			margin-top: 0;
		}
	}

	h3 {
		font-weight: 700;
		margin-bottom: 33px;

		@include bp($small){
			margin-bottom: 11px;
			margin-top: 33px;
		}
	}
	a img{
		opacity: .8;
		transition: all .3s ease;

		@include bp($med){
			&:hover{
				opacity: 1;
			}
		}
	}
	.lighten img{
		opacity: .7;
	}

}