.sponsors {
	margin-bottom: 88px;
	p {
		color: $bgreen;
	}
	.imgM {
		max-width: 43%;
		display: inline-block;
		margin: 11px 3%;
	}
	.imgL {
		margin-bottom: 22px;
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	.imgLast {
		margin-top: 33px;
	}

	h3 {
		font-weight: 700;
		margin-bottom: 33px;
	}

}