@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic");


//colors
$tan: #f8f7f4;
$buttonGreen: #d2d9c9;
$lgreen: #9eb18c;
$mgreen: #89b064;
$bgreen: #3d7a04;
$dgreen: #1a3401;
$black: #222222;


//sizes
$small: 37.5em;


//other
